<!--Veriabe binding Example-->
<p>
  {{ title }}
</p>
<ng-content></ng-content>
<br><br>
<!--Binding Properies Example-->

<!--<input [value] = 'fname'/>
<input [value] = 'lname'/>
<input [required] = 'setRequired'/>-->


{{ userdetail.name }}
{{ userdetail.job }}

<input value = '{{ fname }}'/>
<input value = '{{ lname }}'/>
<input required = '{{ setRequired }}'/>


<!--<button (mouseover)="alertMe('Click Event Binding...!!!')">Click Here</button>-->
<button (click)="alertMe('Click Event Binding...!!!')">Click Here</button>

<button (click)="alertYell($event)">Click Here</button>
